body{
    font-size: 14px;
}
header{
    display:flex;
    flex-direction:row;
    background-color:rgb(28, 36, 49);
    justify-content: flex-end;
    padding-top: 50px;
}
.Intro{
    display:flex;
    flex-direction:row;
    font-family: 'Raleway', sans-serif;
    list-style:none;
    padding-right: 30px;

}
.navigation{
    text-decoration:none;
    color:hsl(0, 0%, 100%);
    padding-right:10px;
    font-weight: 700;
}
Header :nth-child(1) {
    flex-grow:1;
    padding-left:30px;
}

#Presentation{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family:'Open Sans', sans-serif;
    color:hsl(0, 0%, 100%);
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    background-image: url("bg-curvy-desktop.svg");
    background-repeat:no-repeat;
    background-position: bottom;
}
.IllustrationComp{
    padding-top:80px;
}
.secureLoc{
    padding:10px;
    font-weight:700;
}
#Presentation :nth-child(4){
    background-color:hsl(176, 68%, 64%);
    text-decoration:none;
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    text-align: center;
    margin:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius:50px;

}
#TechnicalAdvantages{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:60px;
    color:hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
}
.description{
    flex-basis:50%;
    text-align: center;
}
.icon {
    width: 60;
}


#Working{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    color:hsl(0, 0%, 100%);
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
}
.location{
    align-self:center;
    text-align:left;
    padding-left:30px;
}
.WorkingCall{
    color:hsl(176, 68%, 64%);

}

#Opinion{
    color:hsl(0, 0%, 100%);
    display:flex;
    flex-direction:row;
    background-color: hsl(218, 28%, 13%);
    padding:50px;
}
#opinion .Client{
    background-color: hsl(219, 30%, 18%);
    border-radius:20px;
    margin-left:50px;
    margin-right:30px;
}
#opinion .founder{
    display:flex;
    flex-direction:row;
}
.satish{
    display:flex;
    flex-direction:column;
}
#opinion .Profile{
    align-self:flex-start;
    border-radius: 100px;
    width: 50px;
    text-align:left;
}

#Join{
    background-color:hsl(218, 28%, 13%);
    padding:50px;
    color:hsl(0, 0%, 100%);
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    padding-top:100px;
}
.access{
    background-color: hsl(217, 28%, 15%);
    border-radius: 20px;
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
    padding-bottom:20px;
}
.mail{
    border-radius: 50px;
    padding-left:100px;
    padding-right:100px;
    padding-top:15px;
    padding-bottom:15px;
    border-style: none;
    margin-right:20px;
    background-color:hsl(0, 0%, 100%);
}
.Send{
    border-radius: 50px;
    background-color:hsl(198, 60%, 50%);
    color:hsl(0, 0%, 100%);
    padding-left: 50px;
    padding-right:50px;
    padding-top: 15px;
    padding-bottom:15px;
    border-style:none;
}
.end{
    background-color:hsl(216, 53%, 9%);
    display:flex;
    flex-direction:row;
    padding-top:50px;
}
.AboutUs{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:hsl(0, 0%, 100%);
}
.Loren{
    width: 300px;
    text-align: left;
    padding-top:50px;
}
.IconPhone{
    padding-top:100px;
    padding-left:50px;

}
.IconMail{
    padding-top:10px;
    padding-left:50px;
}
.list{
    list-style:none;
    padding-top:90px;
    padding-left:100px;
    padding-right:100px;
}
.ContactRS{
    text-decoration:none;
    color:hsl(0, 0%, 100%);
    padding-bottom:20px;

}


@media (max-width:375px) {

    body{
        font-size:10px;
    }
   .intro{
       padding-right: 10px;
   }
   .navigation{
       padding:10px;
   }
   header :nth-child(1){
       padding-left:0;
       width: 90px;
       flex-grow:0;
   }
   #Presentation{
       background-image: url("bg-curvy-mobile.svg");
   }
   .IllustrationComp{
       width: 200px;
       padding-top:10px
   }
   #TechnicalAdvantages{
       display:flex;
       flex-direction:column;
       align-items:center;
   }
   #working{
       display:flex;
       flex-direction:column;
       align-items:center;
   }
   #working :nth-child(1){
       width: 250px;
   }
   #Opinion{
       display:flex;
       flex-direction:column;
       align-items:center;
   }
   .Client{
       width: 200px;
       margin-bottom: 20px;
       padding: 20px;
   }
   .access{
       width: 200px;
   }
   
}

